<div class="about-section paddingTB60 gray-bg">
  <div class="container">
      <div class="row">
<div class="col-md">
<div class="about-title clearfix">
  <h1>About <span>RhymeBrain</span></h1>
  <h3>The premiere rhyming service </h3>
  <p class="about-paddingB">Developed by advanced web technologists, this interface is designed for the most creative people we know. Use our service to write fun cards, beautiful raps and everything in between. Use your brain, use RhymeBrain!</p>
</div>
<div class="about-title clearfix">
  <h1>Contact Us</h1>
  <p class="about-paddingB">Designed by Group 3 for CISC474 Fall 2018</p>
</div>
</div>	
      </div>
  </div>
</div>